.fondo {
    appearance: none;
    background-color: rgba(44, 44, 44, 1);
}
.formulario-conainer {
    background-color: #4F4F4F;
    border-radius: 1rem;
    padding: 2em;
    text-align: center;
    width: 100%;
    max-width: 30rem;
    height: 85vh;
    margin: auto;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 3;
}
.formulario {
    display: flex;
    flex-direction: column;
    background-color: #4F4F4F;
    border-radius: 1cm;
    padding: 1.5em 5em;
    text-align: center;
    max-width: 600px;
    margin: auto;
    justify-content: center;
}
.continuar {
    background-color: #D4A15C;
    border: none;
    text-decoration: solid;
    border-radius: 20px;
    color: #644a26;
    font-size: 1em;
    padding: 0.75em 1.5em;
    cursor: pointer;
    width: calc(100% - 80px);
    margin-top: 1em;
    font-weight: bold;
    padding-bottom: 60 px;
}
.atras {
    display: flex;
    top: 0px;
    right: 90px;
    width: 40px;
    height: 40px;
}

.mapa-con-fondo {
    width: 1475px;
    height: 625px;
    background-image: url('imagenes/Map.png');
    background-size: cover;
    border-radius: 10px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.custom-checkbox {
    display: flex; 
    align-items: center; 
}

.custom-checkbox input[type="checkbox"] {
    display: none; 
}

.custom-checkbox label {
    background-color: #FFFFFF;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em 0;
    width: calc(100% - 1em);
    cursor: pointer; 
}
.custom-checkbox input[type="checkbox"]:checked + label {
    background-color: hsl(0, 0%, 75%); 
    border: 3.5px solid black;
}

.seleccionar {
    appearance: none;
    color: white;
    font-size: 1.1em;
    padding: 0.75em 1.5em;
    cursor: pointer;
    width: calc(100% - 80px);
    margin-top: 1em;
}

.cargar {
    color: white;
    font-size: 1.1em;
    padding: 0.75em 1.5em;
    cursor: pointer;
    width: calc(100% - 80px);
    margin-top: 1em;
}

.custom-select {
    appearance: none;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    width: 100%;
    max-width: 400px; 
    transition: border-color 0.2s, background-color 0.2s;
}

.custom-select:focus {
    border-color: #2196F3;
    outline: none;
}

.custom-select::after {
    content: "▼";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #333;
}

.input-file{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 50;
    cursor: pointer;
}

.file-upload-label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 10px 20px;
    background-color: #2196F3;
    color: white;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.2s, border-color 0.2s;
}

/* Estilo para el botón de carga de archivos */
.upload-button {
    padding-top: 60px;
    display: block;
}
/* Ocultar el campo de entrada de archivos */
.file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

/* Cambiar el color del botón al pasar el mouse por encima */
.file-upload-label:hover {
    background-color: #1e7bce;
    border-color: #1e7bce;
}