.fondo {
    box-sizing: border-box;
    appearance: none;
    height: 99vh;
    width: 100vw;
    align-content: center;
    display: flex;
    flex-direction: row;
    background-color: rgba(44, 44, 44, 1);
    padding: 1rem;
}

.mapa-con-fondo {
    display: inline;
    margin: 0 .5rem;
    height: auto;
    width: auto;
    border-radius: 1rem;
    overflow: hidden;
    object-fit: cover;
}

.mapa-con-fondo img {
    position: relative;
    height: inherit;
    justify-content: center;
}

.formulario-conainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
    background-color: #4F4F4F;
    margin: 0 .5rem;
    border-radius: 1rem;
    text-align: center;
    width: 40rem;
    gap: 1rem;
}

.continuar {
    text-align: center;
    background-color: #D4A15C;
    border: none;
    border-radius: 99px;
    color: #644a26;
    font-size: 1em;
    padding: 0.75em 1.5em;
    cursor: pointer;
    width: 15rem;
    margin-top: 1em;
    font-weight: bold;
    margin-bottom: 1em;
}

.seleccionar {
    appearance: none;
    color: white;
    font-size: 1.3em;
    margin: 0.75em 1.5em;
}

.custom-select {
    appearance: none;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    width: 100%;
    max-width: 400px;
    transition: border-color 0.2s, background-color 0.2s;
}

.custom-select:focus {
    border-color: #2196F3;
    outline: none;
}

.custom-select::after {
    content: "▼";
    pointer-events: none;
    color: #333;
}

.columna-izquierda {
    flex-direction: column;
    background-color: #4F4F4F;
    display: flex;
    border-radius: 1rem;
    margin: 0 .5rem;
    gap: 1rem;
    text-align: center;
    width: 6rem;
    max-width: 100%;
    height: auto;
}

.columna-izquierda a {
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
    margin-top: auto;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    position: inherit;
    min-width: none;
    min-height: fit-content;
    max-height: 100%;
    max-width: 100%;
}

.columna-izquierda a:hover {
    color: #26282b;
}
