.fondo {
    background-color: rgba(44, 44, 44, 1);
}
.formulario-conainer {
    background-color: #4F4F4F;
    border-radius: 1rem;
    padding: 2em;
    text-align: center;
    width: 100%;
    max-width: 35rem;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.seleccionar {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: 5px;
    right: 0px;
}

.opciones {
    display: flex;
    justify-content: space-evenly;
    margin: 0 12rem;
    align-items: center;
    font-weight: bold;
}
.opciones a {
    text-decoration: none;
    color: #aaa;
    padding-bottom: 0.1em;

    transition-property: all;
    transition-duration: 250ms;
}

.opciones a:hover {
    color: #D4A15C;
    text-decoration: none;
}

.opciones a.active {
    color: #D4A15C;
    border-bottom: .1rem solid #D4A15C;
}

.mapa-con-fondo {
    width: 1475px;
    height: 625px;
    background-image: url('imagenes/Map.png');
    background-size: cover;
    border-radius: 10px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.imagen {
    width: 175px;
    height: 250px;
    margin: 1em;
    border-radius: 10px; 
}
.foto-perfil-container {
    display: inline-block;
    margin-right: 10px; 
}
