*::-webkit-scrollbar {
   display: none;
}

:root {
   color-scheme: dark light;
   font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
   font-weight: 500;
   font-size: 16px;
   box-sizing: border-box;

   --background-0: #121212;
   --background-1: #202020;
   --background-2: #303030;
   --background-3: #505050;

   --foreground-0: #f0f0f0;
   --foreground-1: #cfcfcf;
   --foreground-2: #bbbbbb;
   --foreground-3: #a0a0a0;

   --main-light-0: #f0dbaa;
   --main-light-1: #e7d3a3;

   --error-0: #5c1d28;
   --error-1: #80444e;
}

body {
   display: flex;
   flex-direction: column;
   margin: 0;
   padding: 0;
   height: 100vh;
   width: 100vw;
}

.root {
   flex-grow: 1;
   display: flex;
   flex-direction: row;
   align-items: center;
   background-color: var(--background-1);
   overflow: hidden;
}

.main-section {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   height: 95vh;
   /* width: auto; */
   margin: 0 .5em;
   border-radius: .7em;
   /* background-color: var(--background-2); */
   overflow-y: scroll;
}