<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesión</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="base_plain.css" />
    <link rel="stylesheet" href="form.css" />
    <link rel="stylesheet" href="login.css" />
  </head>

  <body>
    <div class="root">
      <main class="main-section">
        <div class="form-container">
          <div class="form-title">
            <a href="/" class="active form-header-option">LOG IN</a>
            <a href="" class="form-header-option">SIGN UP</a>
          </div>

          <div class="error-card">email o contraseña incorrecta.</div>

          <form action="/" method="post" class="form">
            <label class="field-email">
              Email
              <input type="email" name="email" required />
            </label>

            <label class="field-clave">
              Contraseña
              <input type="password" name="clave" required />
            </label>

            <div class="form-button-container">
              <button type="submit">Iniciar Sesión</button>
            </div>
          </form>
        </div>
      </main>
    </div>
  </body>
</html>
