.main-section {
   /* border: 1px solid var(--background-3); */
   justify-content: center;
}

.container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 1rem;
   column-gap: 1.5rem;
   width: 70%;
}

.header {
   grid-column: 1 / -1;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   margin: 0 0 5%;
}

.title {
   flex-grow: 1;
   display: flex;
   width: 100%;
   margin: 0;
   font-size: 2rem;
}

.edit-button {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: .5rem;
   border-radius: .5rem;
   background-color: var(--background-2);
   border: 1px solid var(--background-3);

   color: var(--foreground-0);
   text-decoration: none;

   transition-property: all;
   transition-duration: 300ms;
}

.edit-button:hover {
   color: var(--main-light-0);
   text-shadow: 0 0 .1rem var(--main-light-0);
   box-shadow: 0 0 1rem var(--background-3);
}

.ultimo-estado {
   grid-column: 1 / -1;
}

.direccion {
   grid-column: 1 / -1;
}

.inicio-funcionamiento {
   grid-column: 1 / -1;
}

.card-container {
   display: flex;
   flex-direction: column;
}

.card-container h3 {
   margin: .5rem 0;
}

.card {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   padding: 1rem;
   border-radius: .5rem;
   color: var(--foreground-0);
   background-color: var(--background-2);
   border: 1px solid var(--background-3);

   transition-property: all;
   transition-duration: 300ms;
}

.card:hover {
   color: var(--main-light-0);
   text-shadow: 0 0 .1rem var(--main-light-0);
   background-color: var(--background-1);
}

.card p {
   display: flex;
   align-items: center;
   margin: .1rem;
   font-size: 1rem;
}

.card-detail-icon {
   font-size: 1rem;
   margin-right: .5rem;
}

.side-panel {
   width: 35vw;
}

#map {
   height: 100%;
   width: 100%;
}