#map {
   height: 100%;
   width: 100%;
}

.side-block {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   height: 40em;
   width: 30em;
   /* background-color: var(--background-2); */
}