<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> </title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="../_styles/index.css" />

    <link rel="stylesheet" href="../_styles/list.css" />
    <link rel="stylesheet" href="./alertas.css" />
  </head>

  <body>
    <div class="root">
      <nav class="nav-bar">
        <a href="/colaboraciones" class="nav-option">
          <span class="material-symbols-rounded nav-icon">
            volunteer_activism
          </span>
          <div class="nav-txt">Colaborar</div>
        </a>

        <a href="/fallas-tecnicas/new" class="nav-option">
          <span class="material-symbols-rounded nav-icon"> report </span>
          <div class="nav-txt">Reportar Falla</div>
        </a>

        <a href="/alertas" class="nav-option">
          <span class="material-symbols-rounded nav-icon">
            deployed_code_alert
          </span>
          <div class="nav-txt">Alertas</div>
        </a>

        <a href="/heladeras" class="nav-option">
          <span class="material-symbols-rounded nav-icon"> kitchen </span>
          <div class="nav-txt">Heladeras</div>
        </a>

        <a href="/canjes-puntos" class="nav-option">
          <span class="material-symbols-rounded nav-icon"> redeem </span>
          <div class="nav-txt">Canje de Puntos</div>
        </a>

        <a href="/notificaciones" class="nav-option">
          <span class="material-symbols-rounded nav-icon">
            mark_unread_chat_alt
          </span>
          <div class="nav-txt">Mensajes</div>
        </a>

        <a href="/perfil" class="nav-option">
          <span class="material-symbols-rounded nav-icon">
            account_circle
          </span>
          <div class="nav-txt">Perfil</div>
        </a>

        <a href="/home" class="nav-option">
          <span class="material-symbols-rounded nav-icon"> home </span>
          <div class="nav-txt">Home</div>
        </a>
      </nav>

      <main class="main-section">
        <div class="list-container">
          <h2 class="list-title">Alertas</h2>

          <div class="scrollable">
            <ul class="list">
              <li class="list-item">
                <a
                  href="/alertas/03a28050-6afe-4184-a87b-8c4528522312"
                  class="item-card"
                >
                  <h3 class="card-title">Fraude</h3>
                  <div class="card-details">
                    <p>
                      <span class="material-symbols-rounded card-detail-icon"
                        >kitchen</span
                      >
                      Heladera: Heladera SEIS
                    </p>
                    <p>
                      <span class="material-symbols-rounded card-detail-icon"
                        >today</span
                      >
                      Fecha y Hora: 2024-07-23T18:50
                    </p>
                  </div>
                </a>
              </li>

              <li class="list-item">
                <a
                  href="/alertas/341f2a10-8319-40e6-8efb-75dd91a860ac"
                  class="item-card"
                >
                  <h3 class="card-title">Fraude</h3>
                  <div class="card-details">
                    <p>
                      <span class="material-symbols-rounded card-detail-icon"
                        >kitchen</span
                      >
                      Heladera: Heladera OCHO
                    </p>
                    <p>
                      <span class="material-symbols-rounded card-detail-icon"
                        >today</span
                      >
                      Fecha y Hora: 2024-04-05T16:15
                    </p>
                  </div>
                </a>
              </li>

              <li class="list-item">
                <a
                  href="/alertas/483788e8-164c-47e3-aef7-056c39def008"
                  class="item-card"
                >
                  <h3 class="card-title">Falla de Temperatura</h3>
                  <div class="card-details">
                    <p>
                      <span class="material-symbols-rounded card-detail-icon"
                        >kitchen</span
                      >
                      Heladera: Heladera DIEZ
                    </p>
                    <p>
                      <span class="material-symbols-rounded card-detail-icon"
                        >today</span
                      >
                      Fecha y Hora: 2024-03-19T14:03
                    </p>
                  </div>
                </a>
              </li>

              <li class="list-item">
                <a
                  href="/alertas/83c515c6-0e44-4f3e-909f-2cc184dbb298"
                  class="item-card"
                >
                  <h3 class="card-title">Falla de Conexión</h3>
                  <div class="card-details">
                    <p>
                      <span class="material-symbols-rounded card-detail-icon"
                        >kitchen</span
                      >
                      Heladera: Heladera TRES
                    </p>
                    <p>
                      <span class="material-symbols-rounded card-detail-icon"
                        >today</span
                      >
                      Fecha y Hora: 2024-06-10T13:25
                    </p>
                  </div>
                </a>
              </li>

              <li class="list-item">
                <a
                  href="/alertas/b528d597-fa9a-4956-8af9-82aacc967230"
                  class="item-card"
                >
                  <h3 class="card-title">Falla de Temperatura</h3>
                  <div class="card-details">
                    <p>
                      <span class="material-symbols-rounded card-detail-icon"
                        >kitchen</span
                      >
                      Heladera: Heladera DOS
                    </p>
                    <p>
                      <span class="material-symbols-rounded card-detail-icon"
                        >today</span
                      >
                      Fecha y Hora: 2024-05-20T08:00
                    </p>
                  </div>
                </a>
              </li>

              <li class="list-item">
                <a
                  href="/alertas/d361b9b3-a8f7-47d3-a1f8-a77d21f6903b"
                  class="item-card"
                >
                  <h3 class="card-title">Falla de Conexión</h3>
                  <div class="card-details">
                    <p>
                      <span class="material-symbols-rounded card-detail-icon"
                        >kitchen</span
                      >
                      Heladera: Heladera UNO
                    </p>
                    <p>
                      <span class="material-symbols-rounded card-detail-icon"
                        >today</span
                      >
                      Fecha y Hora: 2024-01-15T10:30
                    </p>
                  </div>
                </a>
              </li>

              <li class="list-item">
                <a
                  href="/alertas/f3cd9073-9788-46c5-bd3b-6f18f6087ed1"
                  class="item-card"
                >
                  <h3 class="card-title">Falla de Temperatura</h3>
                  <div class="card-details">
                    <p>
                      <span class="material-symbols-rounded card-detail-icon"
                        >kitchen</span
                      >
                      Heladera: Heladera QUINCE
                    </p>
                    <p>
                      <span class="material-symbols-rounded card-detail-icon"
                        >today</span
                      >
                      Fecha y Hora: 2024-02-29T09:45
                    </p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </main>

      <aside class="side-panel"></aside>
    </div>
  </body>
</html>
