.main-section {
   padding: 0 .5rem;
   overflow-y: hidden;
}

.list-container {
   width: 75%;
}

.side-panel {
   border: none;
}

.lista-colaboraciones {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 1rem;
   padding: 1rem;
   overflow-y: scroll;
}

.item-colaboracion {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   height: 6rem;
   width: 13rem;
   padding: 1rem;
   border-radius: .7rem;
   border: 1px solid var(--background-3);

   color: var(--foreground-0);

   transition-property: all;
   transition-duration: 300ms;
}

.item-colaboracion:hover {
   cursor: default;
   box-shadow: 0 0 1rem var(--background-3);
}

.item-colaboracion:hover>.colaboracion-title {
   color: var(--main-light-0);
   text-shadow: 0 0 1rem var(--main-light-0);
}


.item-colaboracion * {
   margin: 0;
   color: var(--foreground-0);
}

.colaboracion-title {
   flex-grow: 1;
   font-size: 1.3rem;
   text-shadow: 0 0 1rem var(--background-3);

   transition-property: all;
   transition-duration: 300ms;
}

.colaboracion-button-container {
   display: flex;
   justify-content: flex-end;
}

.colaboracion-button {
   padding: .5rem;
   border-radius: .5rem;
   background-color: var(--background-2);
   font-size: 1rem;
   text-decoration: none;
   text-align: center;

   transition-property: all;
   transition-duration: 300ms;
}

.colaboracion-button:hover {
   background-color: var(--main-light-0);
   color: var(--background-3);
}