.main-section {
   border: 1px solid var(--background-3);
}

.form-container {
   padding: 0 1rem;
}

.form {
   grid-template-columns: 35rem;
}

.side-panel {
   width: 35vw;
}

.form-title {
   font-size: 2rem;
   color: var(--foreground-1);
}

.field-motivo textarea {
   height: 5rem;
   resize: vertical;
   min-height: 4rem;
}

#map {
   height: 100%;
   width: 100%;
}