<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Colocar Heladera Nueva</title>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="base.css" />
    <link rel="stylesheet" href="form.css" />
    <!-- <link rel="stylesheet" href="list.css" /> -->
    <link rel="stylesheet" href="heladera_crear.css" />

    <script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
    <script src="map.js"></script>
  </head>
  <body>
    <!-- !! Vista Admin ?? -->

    <div class="root">
      <nav class="nav-bar">
        <a href="colaborar.html" class="nav-option">
          <span class="material-symbols-rounded nav-icon">
            volunteer_activism
          </span>
          <div class="nav-txt">Colaborar</div>
        </a>

        <a href="reportar_falla.html" class="nav-option">
          <span class="material-symbols-rounded nav-icon"> report </span>
          <div class="nav-txt">Reportar Falla</div>
        </a>

        <a href="alertas.html" class="nav-option">
          <span class="material-symbols-rounded nav-icon">
            deployed_code_alert
          </span>
          <div class="nav-txt">Alertas</div>
        </a>

        <a href="heladeras.html" class="nav-option">
          <span class="material-symbols-rounded nav-icon"> kitchen </span>
          <div class="nav-txt">Heladeras</div>
        </a>

        <a href="canje_puntos.html" class="nav-option">
          <span class="material-symbols-rounded nav-icon"> redeem </span>
          <div class="nav-txt">Canje de Puntos</div>
        </a>

        <a href="notificaciones.html" class="nav-option">
          <span class="material-symbols-rounded nav-icon">
            mark_unread_chat_alt
          </span>
          <div class="nav-txt">Mensajes</div>
        </a>

        <a href="perfil.html" class="nav-option">
          <span class="material-symbols-rounded nav-icon">
            account_circle
          </span>
          <div class="nav-txt">Perfil</div>
        </a>

        <a href="home.html" class="nav-option">
          <span class="material-symbols-rounded nav-icon"> home </span>
          <div class="nav-txt">Home</div>
        </a>
      </nav>

      <!-- MAIN -->
      <div class="main-section">
        <div class="form-container">
          <h2 class="form-title">Registrar Heladera Nueva</h2>

          <form action="/heladeras" method="post" class="form">
            <label class="field-nombre"
              >Nombre
              <input
                type="text"
                name="nombre"
                placeholder="Heladera Medrano UTN"
                required
              />
            </label>
            <label class="field-capacidad"
              >Capacidad
              <input
                type="number"
                min="1"
                step="1"
                name="capacidad"
                placeholder="82"
                required
              />
            </label>

            <label class="field-calle"
              >Calle
              <input
                type="text"
                name="calle"
                placeholder="Av. Medrano"
                required
              />
            </label>
            <label class="field-altura"
              >Altura
              <input
                type="number"
                min="0"
                step="1"
                name="altura"
                placeholder="951"
                required
              />
            </label>

            <!-- !! no se qué tan bueno esta delegar al usuario a ingresar las coordenadas -->
            <label class="field-latitud"
              >Latitud
              <input
                type="number"
                name="latitud"
                placeholder="34.1241244"
                required
              />
            </label>
            <label class="field-longitud"
              >Longitud
              <input
                type="number"
                name="longitud"
                placeholder="-91.1865124"
                required
              />
            </label>

            <label class="field-estado"
              >Estado
              <select name="estado" onchange="updateInput()" required>
                <option value="" disabled selected>Seleccionar</option>
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
              </select>
            </label>

            <label class="field-fecha-inicio"
              >Inicio de funcionamiento
              <input type="date" name="estado" />
            </label>

            <label class="field-temperatura-minima"
              >Temperatura Mínima
              <input type="number" name="temp_minima" placeholder="-5.0" />
            </label>
            <label class="field-temperatura-maxima"
              >Temperatura Máxima
              <input type="number" name="tem_maxima" placeholder="3.0" />
            </label>

            <div class="form-button-container">
              <button type="submit">Registrar</button>
            </div>
          </form>
        </div>
      </div>

      <div class="side-panel">
        <!-- Sección de solicitud por puntos recomendados -->
        <section class="form-container solicitud-recomendaciones">
          <h2 class="form-title solicitud-title">Recomendación de Puntos de Colocación</h2>

          <form action="/" method="post" class="form form-recomendacion">
            <label class="field-latitud"
              >Latitud
              <input
                type="number"
                name="latitud"
                placeholder="34.1241244"
                required
              />
            </label>
            <label class="field-longitud"
              >Longitud
              <input
                type="number"
                name="longitud"
                placeholder="-91.1865124"
                required
              />
            </label>
            <label class="field-radio"
              >Radio (metros)
              <input
                type="number"
                min="0"
                step="1"
                name="radio"
                placeholder="5000"
                required
              />
            </label>

            <div class="form-button-container">
              <button type="submit">Generar</button>
            </div>
          </form>
        </section>

        <!-- debería hacer display únicamente después de la petición -->
        <section class="resultados-container" style="display: grid">
          <div class="card-resultado">
            <p>
              <span class="material-symbols-rounded card-detail-icon"
                >location_on</span
              >
              Av. Medrano 951
            </p>
            <p>
              <span class="material-symbols-rounded card-detail-icon"
                >my_location</span
              >
              -34.59857981526152, -58.420110294464294
            </p>
          </div>
          <div class="card-resultado">
            <p>
              <span class="material-symbols-rounded card-detail-icon"
                >location_on</span
              >
              Av. Medrano 951
            </p>
            <p>
              <span class="material-symbols-rounded card-detail-icon"
                >my_location</span
              >
              -34.59857981526152, -58.420110294464294
            </p>
          </div>
          <div class="card-resultado">
            <p>
              <span class="material-symbols-rounded card-detail-icon"
                >location_on</span
              >
              Av. Medrano 951
            </p>
            <p>
              <span class="material-symbols-rounded card-detail-icon"
                >my_location</span
              >
              -34.59857981526152, -58.420110294464294
            </p>
          </div>
        </section>

        <div class="map-container">
          <div id="map"></div>
        </div>
      </div>
    </div>
  </body>
</html>
