/* Estructura del formulario */

/*
<div class="form-container">
   <h2 class="form-title">Title</h2>

   <form action="/=" method="post" class="form">
   <label class="field-input"
      >input
      <input
         type="text"
         name="input"
         required
      />
   </label>
   <label class="field-option"
      >option
      <select name="option" onchange="updateInput()" required>
         <option value="" disabled selected>Select</option>
         ...
      </select>
   </label>
   ...

   <div class="form-button-container">
      <button type="submit">Button</button>
   </div>
   </form>
</div>
*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

.form-container {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0 1rem;
   overflow-y: hidden;
}

.form-title {
   display: flex;
   width: 100%;
   margin: 5% 0 3%;
   font-size: 1.8rem;
   font-weight: 600;

   text-align: left;
   color: var(--foreground-2);
}

.form {
   display: grid;
   grid-template-columns: 1fr;
   gap: 1rem;
   column-gap: .5rem;
   width: 100%;
   margin: 2% 0 0;
   overflow-y: scroll;
}

.form label {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;

   font-size: 1rem;
   font-weight: 600;
   color: var(--foreground-2);
}

.form label * {
   margin-top: .25rem;
   padding: .5rem;
   border-radius: .3rem;
   background-color: var(--background-2);
   border: 1px solid var(--background-3);

   font-size: .9rem;
   color: var(--main-light-0);

   transition-property: all;
   transition-duration: 300ms;
}

.form label *:focus {
   outline: none;
   box-shadow: 0 0 .5rem var(--background-3);
}


.form-button-container {
   grid-column: 1 / -1;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   margin: 1rem 0 1.5rem;
}

.form button {
   padding: .5rem 1.5rem;
   border-radius: .5rem;
   cursor: pointer;
   background-color: var(--background-2);
   border: 1px solid var(--background-3);

   font-size: .9rem;
   color: var(--foreground-1);

   transition-property: all;
   transition-duration: 300ms;
}

.form button:hover {
   color: var(--background-0);
   background-color: var(--main-light-0);
}