.list-container {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   width: 100%;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

.list-title {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   width: 100%;
   margin: 1rem 0 1rem;
   /*padding: .5rem 0;*/
   font-size: 2.2rem;
}

.filter-container {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   width: 100%;
   margin: .5rem 0;
}

.filter {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   height: 2rem;
   width: 100%;
   border-radius: .5rem;
   border: 1px solid var(--background-3);
}

.paging-nav {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   gap: .5rem;
   width: 100%;
   margin: .5rem 0;
}

.paging-button {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: .1rem 1rem;

   border-radius: .5rem;
   text-decoration: none;
   color: var(--foreground-3);
   border: 1px solid var(--background-3);
   transition-property: all;
   transition-duration: 300ms;
}

.paging-button:hover {
   color: var(--background-0);
   background-color: var(--main-light-0);
}

.scrollable {
   display: flex;
   flex-direction: column;
   overflow-y: scroll;
   /*height: 100%;*/
   width: 100%;
   margin-top: .5rem;
}

.list {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   gap: .5rem;
   width: 100%;
   margin: 0;
   padding: 0;
}

.list-item {
   display: flex;
   align-items: center;
   width: 100%;
}

.item-card {
   display: flex;
   flex-direction: column;
   width: 100%;
   padding: 1rem;
   border-radius: .5rem;
   text-decoration: none;
   color: var(--foreground-0);
   background-color: var(--background-2);

   transition-property: all;
   transition-duration: 300ms;
}

.item-card:hover {
   color: var(--main-light-0);
   background-color: var(--background-3);
}

.card-title {
   display: flex;
   margin: 0 0 1rem;
   font-weight: 700;
   font-size: 1.3rem;
}

.item-card p {
   display: flex;
   align-items: center;
   margin: .1rem;
   font-size: .9rem;
}

.card-detail-icon {
   font-size: .9rem;
   margin-right: .5rem;
}